@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-200 {
        animation-delay: 0.2s;
    }
    .animation-delay-400 {
        animation-delay: 0.4s;
    }
}

.circle {
    @apply w-4 h-4 rounded-full my-12 mx-1 bg-orange-500
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.w-md-editor-preview p {
    margin-bottom: 10px;
}

.w-md-editor-preview ul, ol {
    list-style-type: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.md-viewer.w-md-editor-preview h1, h2, h3, h4, h5, h6 {
    border-bottom-color: white !important;
}